/.vscode
/ChaudFroid.exe
/ChaudFroid.ilk
/ChaudFroid.obj
/ChaudFroid.pdb
/ChronoSpacer.exe
/ChronoSpacer.ilk
/ChronoSpacer.obj
/ChronoSpacer.pdb
/HelloWorld.cpp
/HelloWorld.exe
/HelloWorld.ilk
/HelloWorld.obj
/HelloWorld.pdb
/vc140.pdb